body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 120px;
    background-color: brown;
    font-size: small;
}

h1 {
    margin: 0;
}

button {
    border-radius: 8px;
}

.navs-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.slideshow-container {
    max-width: 900px;
    height: 400px;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}

.slideshow {
    display: block;
    height: 100%;
    background-color: cadetblue;
}

.perfil1, .perfil2, .perfil3 {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    
    display: none;
    opacity: 1; 
    transition: opacity 0.6s ease-in-out;
    
    flex-direction: column;
    align-items: center;
    background-color: rgb(80, 80, 80);
    border: 3px solid black;
    border-radius: 20px;
}

.active {
    display: flex;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    
    width: auto;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.6); 
    border-radius: 50%;
    user-select: none;
    transition: background-color 0.3s ease;
}

.next {
    right: 10px;
}

.prev {
    left: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot-container {
    text-align: center;
    padding: 20px 0;
}

.dot {
    cursor: pointer;
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
    background-color: #717171;
}

.slideshow .botoes{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0 10px;
}